[ req ]
default_bits        = 4096
default_keyfile     = server.key
distinguished_name  = req_distinguished_name
req_extensions      = v3_req
prompt              = no

[ req_distinguished_name ]
C  = DE
ST = Berlin
L  = Berlin
O  = SomeOrg
OU = IT
CN = localhost

[ v3_req ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = localhost
DNS.2 = 127.0.0.1
DNS.3 = server.localgrpc.local
IP.1 = 192.168.229.128



